/* .parchment {
  @apply group bg-gray-800 rounded-xl overflow-hidden shadow-lg transition duration-300 ease-in-out transform hover:scale-105 hover:bg-gray-700 focus-within:ring-2 focus-within:ring-green-400
  width: 460px;
    height: 400px;
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Tahoma, Sans-serif;
    font-size: 24px;
    padding: 0px;
    margin: 40px auto;
    text-align: center;
    border-image: url(https://i.imgur.com/040pFDw.png) 20 / 20px round;
    box-sizing: border-box;
  }  */