.button {
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 0.2rem solid black;
    background-color: transparent;
    box-shadow: 0 0.05rem 0 0 black;
}

.button:active {
    box-shadow: 0 0 0 0;
    transition: 0.05s;
}